<h3 class="text-primary text-center mt-3">CRUD Application</h3>
<div class="container ct mx-auto mt-3">
  <div class="text-center p-2">
    <button class="btn btn-primary btn-md mx-auto" (click)="openForm(null)">Add Employee</button>
  </div>
  <table mat-table [dataSource]="datasource" matSort (matSortChange)="sortData($event)" class="table table-bordered mx-auto w-100 p-3" #table>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="emid"><h3>Id</h3></th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="employee_name">
      <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="emname"><h3>Employee Name</h3></th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.employee_name}} </td>
    </ng-container>
    <ng-container matColumnDef="employee_salary">
      <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="emsalary"><h3>Employee Salary</h3></th>
      <td mat-cell *matCellDef="let element" class="text-center">{{element.employee_salary}}</td>
    </ng-container>
    <ng-container matColumnDef="employee_age">
      <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="emage"><h3>Employee Age</h3></th>
      <td mat-cell *matCellDef="let element" class="text-center">{{element.employee_age}}</td>
    </ng-container>
    <ng-container matColumnDef="Action1">
      <th mat-header-cell *matHeaderCellDef class="text-center"><h3>Action1</h3></th>
      <td mat-cell *matCellDef="let element" class="text-center"><button class="btn btn-outline-primary" (click)="openForm(element)">Edit</button></td>
    </ng-container>
    <ng-container matColumnDef="Action2">
      <th mat-header-cell *matHeaderCellDef class="text-center"><h3>Action2</h3></th>
      <td mat-cell *matCellDef="let element" class="text-center"><button class="btn btn-outline-danger" (click)="deltodo(element)">Delete</button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row; columns: cols;"></tr>
  </table>
  <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[5,10,20,25,30,40,50]" [length]="empl.length" showFirstLastButtons ></mat-paginator>
</div>

<div class="form-wrapper mx-auto" *ngIf="showForm">
  <form class="mobile-form" ngForm #fm="ngForm">
    <h2 class="text-center text-info">{{formHeader}}</h2>
    <div class="group">
      <label for="eid">Id:</label>
      <input type="number" class="form-control" name="eid" [(ngModel)]="eid" [readonly]="ri" ngModel #emid="ngModel" required >
    </div><br>
    <div class="err" *ngIf="emid.touched && emid.errors?.['required']">Employee id is required!</div>
    <div class="group">
      <label for="ename">Employee Name:</label>
      <input type="text" class="form-control" name="ename" [(ngModel)]="ename" ngModel #emname="ngModel" required>
    </div><br>
    <div class="err" *ngIf="emname.touched && emname.errors?.['required']">Employee name is required!</div>
    <div class="group">
      <label for="esal">Employee Salary:</label>
      <input type="number" class="form-control" name="esal" [(ngModel)]="esalary" ngModel  #emsal="ngModel" required>
    </div><br>
    <div class="err" *ngIf="emsal.touched && emsal.errors?.['required']">Employee salary is required!</div>
    <div class="group">
      <label for="eage">Employee Age:</label>
      <input type="number" class="form-control" name="eage" [(ngModel)]="eage" ngModel  #emage="ngModel" required>
    </div><br>
    <div class="err" *ngIf="emage.touched && emage.errors?.['required']">Employee age is required!</div>
    <div>
      <button class="btn btn-primary btn-md align-left ml-4 " (click)="saveForm()" [disabled]="fm.invalid">Save Changes</button>
      <button class="btn btn-success btn-md align-right ml-5 mr-1" (click)="closeForm()">Cancel</button>
    </div>
  </form>
</div>
